$primary-color: #6a3f6b;

.page {
  display: flex;
  justify-content: center;

  .main {
    height: 100vh;
    padding: 25px;

    h1 {
      color: $primary-color;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      margin-bottom: 25px;
      text-transform: uppercase;
    }
  }
}
